
/*Header styling*/
header {
    background-color: lightblue;
    text-align: center;
    font-size: 25px;
    color: black;
    border-radius: 5px;
    padding: 5px;
    width: auto;
    cursor: pointer;

}
#title{
    font-size: 45px;
}
span{
    color: gray;
}

/*Input session Styling*/

#news{
    border-radius: solid 5px;
    border-color: solid black;
}

/*Trending session*/
.trending{
    color: red;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;

}

/*Search Btn*/
.searchbtn{
    color: beige;
    font-weight: bold;
    border-radius: 5px;
    background-color:black;
    cursor: pointer;
    font-size: 15px;
    align-items: center;
   
}

.searchbtn:hover{
    background-color: beige;
    color: blue;
}

/*News Session*/
.box{
    width: 80%;
    height: 200px;
    background: beige;
    margin: 20px auto;
    border-radius: 5px;
}
/*Footer Session*/
footer {
    text-align: center;
   background-color: lightblue;
    font-size: 15px;
    color: black;
    border-radius: 5px;
    padding: 5px;
    width: auto;
    cursor: pointer;
}

#github:hover{
    border-radius:10px;
    background-color: white;
    padding: 5px;
    width: 5px;

}

/*Media Query*/